@use "../mixins.scss" as *;

.projects {
  padding-bottom: 2.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  @include media-breakpoint(1400px) {
    gap: 3rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    gap: 2rem;

    @include media-breakpoint(428px) {
      gap: 2.3rem;
    }

    @include media-breakpoint(768px) {
      gap: 3rem;
    }

    @include media-breakpoint(992px) {
      flex-direction: row;
      align-items: stretch;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }
  }

  button {
    width: 65%;

    @include media-breakpoint(576px) {
      margin-top: 1rem;
      width: 40%;
    }
    @include media-breakpoint(768px) {
      margin-top: 1.5rem;
      width: 25%;
    }

    @include media-breakpoint(992px) {
      margin-top: 2rem;
    }

    @include media-breakpoint(1200px) {
      margin-top: 2.5rem;
    }
  }
}
