@use "../variables.scss" as *;
@use "../typography.scss" as *;
@use "../mixins.scss" as *;

.hero {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4.5rem;

  &__intro {
    font-size: 0.875rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    @include media-breakpoint(576px) {
      font-size: 1rem;
      line-height: 2rem;
    }

    @include media-breakpoint(1200px) {
      font-size: 1.5rem;
      line-height: 2.5rem;
      gap: 4rem;
    }
  }

  &__all-intro {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    @include media-breakpoint(768px) {
      flex-direction: row;
      gap: 0.3rem;
    }
    @include media-breakpoint(768px) {
      gap: 0.6rem;
    }
  }

  &__cooperate {
    color: var(--secondary-text-color);
    align-self: start;
  }

  &__introduce {
    color: var(--text-primary-color);
  }

  &__avatar {
    max-width: 100%;
    height: auto;
  }

  &__avatar-responsive {
    @include media-breakpoint(428px) {
      width: 80%;
      align-self: center;
    }
    @include media-breakpoint(576px) {
      width: 65%;
    }

    @include media-breakpoint(768px) {
      width: 100%;
      align-self: flex-end;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include media-breakpoint(576px) {
      gap: 2.5rem;
    }

    @include media-breakpoint(1200px) {
      gap: 3rem;
    }
  }

  &__collab {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint(576px) {
      gap: 2.5rem;
    }

    @include media-breakpoint(768px) {
      gap: 3.375rem;
    }

    @include media-breakpoint(1200px) {
      gap: 3.8rem;
    }
  }

  &__cta {
    color: var(--text-primary-color);
    text-align: center;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 1.3rem;

    @include media-breakpoint(428px) {
      flex-direction: row;
      width: 90%;
      gap: 1.5rem;
    }

    @include media-breakpoint(576px) {
      flex-direction: row;
      gap: 2.5rem;
    }

    @include media-breakpoint(768px) {
      width: 50%;
    }

    @include media-breakpoint(1200px) {
      gap: 4rem;
    }
  }
}
