@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.NavbarHero {
  /*  height: 100vh; */
  /* background-image: var(--navbar-hero-bg-img); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
}
