@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.NavbarHero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
}
