@use "../mixins.scss" as *;

.language_switcher {
  margin-top: 1.5rem;
  padding-left: 0.5rem;

  @include media-breakpoint(768px) {
    margin: 0;
    padding-left: 0;
    font-size: 0.875rem;
  }
  @include media-breakpoint(1200px) {
    font-size: 1.25rem;
  }
}
