@use "./variables.scss" as *;

@mixin bg-img($img, $pos: center center, $att: scroll) {
  background-image: url(#{$imgFolder}#{$img});
  background-position: $pos;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: $att;
}

@mixin media-breakpoint($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin mask($path) {
  mask: url($path) no-repeat center;
  -webkit-mask: url($path) no-repeat center;
}
