/* COLORS */

$whiteColor: #ffffff;
$blackColor: #000000;
$errorColor: #ef4444;
$warningColor: #fc9e1b;
$errorContainer: rgba($errorColor, 0.15);
$warningContainer: rgba($warningColor, 0.15);
/* ; */

//Other
$imgFolder: "../../assets/";
:root {
  --background-color: #fff;
  --text-primary-color: #404040;
  --modeSwitcherBg: #fff;
  --modeSwitcherBorder: 1px solid #bfbfbf;
  --outlineColor: #bfbfbf;
  --outline-accent: #fafafa;
  --iconsColor: #6174c1;
  --mobile-menu-background: #fff;
  --lang-switcher-border: none;
  --secondary-text-color: #565454;
  --secondary-container: #fcfcfc;
  --active-color: #668da954;
  --display-gradient: linear-gradient(90deg, #674fdc 16%, #666666 82%);
  --display-before-gradient: linear-gradient(0deg, #674fdc 16%, #666666 82%);
  --btn-background: linear-gradient(
    158.467deg,
    rgba(60, 84, 180, 76%) 40%,
    rgba(103, 9, 127, 75%) 94%
  );
  --subheading: #5343d1;
  --card-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  --chips-border: #bfbfbf;
  --z-navbar: 2;
  /* --chips-hover: #; */
}

[data-theme="dark"] {
  --background-color: #11002f;
  --text-primary-color: #ecf1ff;
  --modeSwitcherBg: #cd98e7;
  --modeSwitcherBorder: none;
  --outline-accent: #390041;
  --outlineColor: #cd98e7;
  --iconsColor: #cd98e7;
  --mobile-menu-background: #11002f;
  --lang-switcher-border: 0.5px solid #ecf1ff;
  --secondary-text-color: #ffddfa;
  --secondary-container: #312448;
  --active-color: #a3089c97;
  --display-gradient: linear-gradient(
    -179.916deg,
    #fcfbfc 0%,
    #dfc6f5 59%,
    #dfbefc 94%
  );

  --display-before-gradient: linear-gradient(
    -179.916deg,
    #fcfbfc 0%,
    #dfc6f5 59%,
    #dfbefc 94%
  );
  --btn-background: linear-gradient(111.059deg, #eeedef 0%, #c480fe 100%);
  --subheading: #ffddfa;
  --card-shadow: none;
  --chips-border: #ecf1ff;
}
