@use "./components/variables.scss" as *;

.App {
  background-color: var(--background-color);

  &__loading {
    display: flex;
    width: 10%;
    height: 10%;
    margin: 5rem auto;
    /* color: red;
    font-size: 3rem;
    font-weight: 700; */
  }
}
